@import './components/index.scss';

.page-wrapper {
  width: 100%;
}

.search-wrapper{
  top: 1.8rem;
  left: 10%;
  width: 80%;
  z-index: 150;
}

.input-control{
  font-size: 1.25rem;
}

.map-window {
  width: 100%;
  height: 100%;
  overflow-block: auto;
  position: relative;

  & .back-btn{
    top: 1rem;
    left: 1rem;
    z-index: 150;
  }
}