.structure {
    width: 100px;
    height: 100px;
    height: 50px;
    width: 50px !important;

    &:not(.active){
        .structure-text{
            color: transparent
        }
    }

    &.disabled {
        opacity: 0.4;
    }

    &-none {
        display: none;
        visibility: hidden;
    }

    &-residential {
        background: #e1e1e1;
        border: 0.2px solid #d1d1d1;

        .residential_text {
            color: black;
            font-size: 14px;
            font-weight: bold;
        }
    }

    &-gym {
        background: url('../../../../assets/gym.png');
        background-repeat: no-repeat;
        background-size: 2rem;
        background-blend-mode: soft-light;

        .gym_text {
            color: #000;
            font-weight: bold;
            writing-mode: vertical-lr;
            text-orientation: mixed;
            margin-left: 35px;
        }
    }

    &-medical {
        background: url('../../../../assets/hospital.png');
        background-repeat: no-repeat;
        background-size: 2rem;
        background-blend-mode: soft-light;

        .medical_text {
            color: black;
            font-size: 12px;
            font-weight: bold;
            writing-mode: vertical-lr;
            text-orientation: mixed;
            margin-left: 35px;
        }
    }

    &-pg {
        background: url('../../../../assets/hostel.png');
        background-repeat: no-repeat;
        background-size: 2rem;
        background-blend-mode: soft-light;

        .pg_text {
            color: red;
            font-weight: bold;
            writing-mode: vertical-lr;
            text-orientation: mixed;
            margin-left: 35px;
        }
    }

    &-rent {
        background: url('../../../../assets/rent.png');
        background-repeat: no-repeat;
        background-size: 2rem;
        background-blend-mode: soft-light;

        .rent_text {
            color: rgb(9, 9, 72);
            writing-mode: vertical-lr;
            text-orientation: mixed;
            margin-left: 35px;
        }
    }

    &-park {
        background: url('../../../../assets/park.png');
        background-repeat: no-repeat;
        background-size: 2rem;
        background-blend-mode: soft-light;
    }

    &-commercial {
        background: url('../../../../assets/cart.png');
        background-repeat: no-repeat;
        background-size: 2rem;
        background-blend-mode: soft-light;
    }
}